body {
  padding-top: 70px;
}

.item img {
  height: 400px;
  width: auto;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators .active {
  background-color: #222;
}

.carousel-indicators li {
  border-color: #222;
}
